In [ ]:
#삼성전자
import pandas as pd 
import requests 

html = requests.get('https://finance.naver.com/item/sise_day.nhn?code=005930&page=1') 

table = pd.read_html(html.text)

In [ ]:
for i in range(50):
    html = requests.get('https://finance.naver.com/item/sise_day.nhn?code=005930&page={}'.format(i + 1))
    table = pd.read_html(html.text)
    if i == 0:
        data = table[0].dropna().reset_index(drop = True)
    else:
        data1 = table[0].dropna().reset_index(drop = True)
        data = pd.concat([data, data1])

samsung_data = data.reset_index(drop = True)
samsung_data

In [ ]:
#csv 파일 전환
samsung_data.to_csv('samsung.csv' ,encoding='cp949')

In [ ]:
#멀티캠퍼스
import pandas as pd 
import requests 

html = requests.get('https://finance.naver.com/item/sise_day.nhn?code=067280&page=1') 

table = pd.read_html(html.text)

In [ ]:
for i in range(50):
    html = requests.get('https://finance.naver.com/item/sise_day.nhn?code=067280&page={}'.format(i + 1))
    table = pd.read_html(html.text)
    if i == 0:
        data = table[0].dropna().reset_index(drop = True)
    else:
        data1 = table[0].dropna().reset_index(drop = True)
        data = pd.concat([data, data1])

multicampus_data = data.reset_index(drop = True)
multicampus_data

In [ ]:
multicampus_data.to_csv('multicampus.csv', encoding='cp949')

In [ ]:
#씨젠
import pandas as pd 
import requests 

html = requests.get('https://finance.naver.com/item/sise_day.nhn?code=096530&page=1') 

table = pd.read_html(html.text)

In [ ]:
for i in range(50):
    html = requests.get('https://finance.naver.com/item/sise_day.nhn?code=096530&page={}'.format(i + 1))
    table = pd.read_html(html.text)
    if i == 0:
        data = table[0].dropna().reset_index(drop = True)
    else:
        data1 = table[0].dropna().reset_index(drop = True)
        data = pd.concat([data, data1])

seegene_data = data.reset_index(drop = True)
seegene_data

In [ ]:
seegene_data.to_csv('seegene.csv', encoding='cp949')

In [ ]:
#카카오
import pandas as pd 
import requests 

html = requests.get('https://finance.naver.com/item/sise_day.nhn?code=035720&page=1') 

table = pd.read_html(html.text)

In [ ]:
for i in range(50):
    html = requests.get('https://finance.naver.com/item/sise_day.nhn?code=035720&page={}'.format(i + 1))
    table = pd.read_html(html.text)
    if i == 0:
        data = table[0].dropna().reset_index(drop = True)
    else:
        data1 = table[0].dropna().reset_index(drop = True)
        data = pd.concat([data, data1])

kakao_data = data.reset_index(drop = True)
kakao_data

In [ ]:
kakao_data.to_csv('kakao.csv',encoding='cp949')

In [ ]:
#네이버
import pandas as pd 
import requests 

xlsx = pd.read_excel('JongMokCodeTable_20140616_Uodate02.xlsx')
xlsx

x = input()

html = requests.get('https://finance.naver.com/item/sise_day.nhn?code={}&page=1'.format(x))

table = pd.read_html(html.text)

for i in range(50):
    html = requests.get('https://finance.naver.com/item/sise_day.nhn?code={}&page={}'.format(x, i + 1))
    table = pd.read_html(html.text)
    if i == 0:
        data = table[0].dropna().reset_index(drop = True)
    else:
        data1 = table[0].dropna().reset_index(drop = True)
        data = pd.concat([data, data1])

naver_data = data.reset_index(drop = True)
naver_data

In [ ]:
for i in range(50):
    html = requests.get('https://finance.naver.com/item/sise_day.nhn?code={}&page={}'.format(x, i + 1))
    table = pd.read_html(html.text)
    if i == 0:
        data = table[0].dropna().reset_index(drop = True)
    else:
        data1 = table[0].dropna().reset_index(drop = True)
        data = pd.concat([data, data1])

naver_data = data.reset_index(drop = True)
naver_data

In [ ]:
naver_data1= naver_data.to_csv('naver.csv')

In [ ]:
a = naver_data['종가'].plot()

In [ ]:
type(naver_data)

In [ ]:
import datetime

k= pd.DataFrame(pd.to_datetime(naver_data['날짜']))
print(k)

In [ ]:
k['year'] =pd.DatetimeIndex(k['날짜']).year

In [ ]:
k.head(40)

In [13]:
#네이버
import pandas as pd 
import requests

In [14]:
idx_col= '종목명'

xlsx = pd.read_excel('JongMokCodeTable_20140616_Uodate02.xlsx', index_col = idx_col)
xlsx[['종목코드']]

                     종목코드
종목명
삼성전자              '005930
현대차               '005380
SK하이닉스            '000660
현대모비스             '012330
NAVER             '035420
...                   ...
현대4727KOSPI200풋   '584727
현대4728KOSPI200풋   '584728
현대4729KOSPI200풋   '584729
현대4730KOSPI200풋   '584730
경제금융             'EFX1000

[31759 rows x 1 columns]

In [23]:
x = input()
y = xlsx[['종목코드']].loc[x]
z = y['종목코드'].head(1).iloc[0].replace("'","")

html = requests.get('https://finance.naver.com/item/sise_day.nhn?code={}&page=1'.format(z))

table = pd.read_html(html.text)

for i in range(50):
    html = requests.get('https://finance.naver.com/item/sise_day.nhn?code={}&page={}'.format(z, i + 1))
    table = pd.read_html(html.text)
    if i == 0:
        data = table[0].dropna().reset_index(drop = True)
    else:
        data1 = table[0].dropna().reset_index(drop = True)
        data = pd.concat([data, data1])

naver_data = data.reset_index(drop = True)
naver_data

삼성전자

             날짜       종가     전일비       시가       고가       저가         거래량
0    2020.07.30  59100.0   100.0  59700.0  60100.0  59100.0  17339202.0
1    2020.07.29  59000.0   400.0  60300.0  60400.0  58600.0  36476611.0
2    2020.07.28  58600.0  3000.0  57000.0  58800.0  56400.0  48431566.0
3    2020.07.27  55600.0  1400.0  54300.0  55700.0  54300.0  21054421.0
4    2020.07.24  54200.0   100.0  54000.0  54400.0  53700.0  10994535.0
..          ...      ...     ...      ...      ...      ...         ...
495  2018.07.26  46900.0   750.0  46100.0  47000.0  46000.0   7374946.0
496  2018.07.25  46150.0     0.0  46250.0  46550.0  45900.0   7222471.0
497  2018.07.24  46150.0   350.0  46350.0  46600.0  45950.0   8261363.0
498  2018.07.23  46500.0   950.0  47100.0  47200.0  46150.0  10823782.0
499  2018.07.20  47450.0   550.0  47000.0  47600.0  46700.0  10474547.0

[500 rows x 7 columns]